* {
    transition: margin 200ms linear;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $color-main;
    font-family: $font-main;
    background-color: $color-background;
}

.noscript {
    @extend %box-shadow-1;
    @extend %absolute_left;
	background-color: $pink;
	color: $off-white;
	text-align: center;
	padding: 0;
	font-weight: bold;
	font-size: 1.2em;
    z-index: 11;
    width: 100vw;
    margin-top: $header-height;
    height: $header-height;
    line-height: $header-height;
}

h2 {
    @extend %absolute_left;
    color: $grey;
    text-align: center;
    z-index: 10;
    width: 100%;
    height: 100px;
    margin-top: 80px;
    font-size: 2.2rem;
    font-family: $font-logo;
    font-weight: 400;
    text-shadow: 0 3px 2px $darker;
}

header {
    z-index: 100;
    background-color: $color-header;
    color: $off-white;
    height: $header-height;
    line-height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    @extend %box-shadow-1;
    
    #updatetime {
        font-size: 0.9rem;
        font-style: italic;
        color: $color-time;
        margin-left: 15px;
        
        @include small-screen {
            display: none;
        }
        @include large-screen {
            display: inline-block;
        }
    }
    
    #logo {
        color: $color-logo;
        font-size: 2.2rem;
        line-height: $header-height;
        text-decoration: none;
        font-weight: normal;
        margin: 0;
        font-family: $font-logo;
        
        @include small-screen {
            margin-left: 10px;
        }
        
        @include large-screen {
            margin-left: 25px;
        }
    }
}

label {
    padding: 0;
    z-index: 201;
    position: fixed;
    text-align: right;
    top: 15px;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    width: 30px;
    height: 30px;
    background-size: contain;
    
    @include small-screen {
        right: 10px;
    }
    
    @include large-screen {
        right: 32px;
    }
}

article {
    z-index: 15;
    width: 96%;
    margin: 25px auto 0;
    position: relative;
    
    @include small-screen {
        min-height: $logo-size-small;
    }
    @include large-screen {
        min-height: $logo-size-big;
    }
    
    @extend %box-shadow-1;
    svg {
        height: auto;
        display: inline-block;
        @extend %absolute;
        @include small-screen {
            width: $logo-size-small;
        }
        @include large-screen {
            width: $logo-size-big;
        }
    }
    .title {
        
        color: $color-headlines;
        @include small-screen {
            font-size: 16px;
            font-size: 1rem;
            display: inline-block;
            vertical-align: middle;
            margin-left: $logo-size-big;
            font-weight: normal;
            margin-top: 5px;
            margin-bottom: 0;
            width: calc(100% - 100px);
            padding-left: 4px;
        }
        @include large-screen {
            font-size: 18px;
            font-size: 1.3rem;
            white-space: nowrap;
            margin-top: 11px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - 320px);
            padding-left: 20px;
            min-width: 0;
            width: auto;
        }
    }
    
    time {
        color: $color-time;
        white-space: nowrap;
        display: inline-block;
        font-size: 13px;
        font-size: 0.7rem;
        
        @include small-screen {
            vertical-align: bottom;
            margin: 5px 58px -16px;
        }
        @include large-screen {
            vertical-align: middle;
            margin: 22px 11px 0;   
        }
    }
    
    .comments {
        text-decoration: none;
        color: $color-comments;
        vertical-align: middle;
        padding-bottom: 10px;
        text-align: right;
        
        @include clearfix;
        @include overfix;
        @include small-screen  {
            font-size: 14px;
            font-size: 0.8rem;
            display: block;
            width: 100%;
            margin-left: -20px;
            margin-top: -5px;
        }
        @include large-screen  {
            font-size: 14px;
            font-size: 0.85rem;
            width: 120px;
            margin-right: 20px;
            float: right;
            line-height: $logo-size-big;
            margin-top: 4px;
        }
    }
    
    > a {
        &:visited {
            color: $grey;
        }
        &:link {
            text-decoration: none;
        }
    }
    
    &:first-child {
        margin-top: $header-height + 25px;
    }
    
    &:last-child {
        margin-bottom: 25px;
    }
}

section {
    margin-top: $header-height + 25px;
    width: 100%;
    height: 100%;
}

#content {
    @extend %absolute_right;
    z-index: 9;
    height: inherit;
    overflow-y: scroll;
    width: 100%;
    background-color: $color-content;
    margin: 0;
}

nav {
    @extend %absolute_right;
    background-color: $color-nav;
    height: inherit;
    width: $sidebar-width;
    z-index: 8;
    color: $darker;
    overflow: hidden;
    
    span {
        // @include small-screen {
        //     display: none;
        // }
        // @include large-screen {
        // }
        width: 100%;
        text-align: center;
        line-height: 60px;
        display: inline-block;
    }
    
    ul {
        padding: 0;
        list-style-type: none;
        
        @include small-screen {
            margin: ($header-height + 18px) 8px 0;
        }
        
        // @include large-screen {
        //     margin: ($header-height + 14px) 20px 0;
        // }   
        
        
        li {
            @include small-screen {
                position: relative;
                margin: 15px 8px;
                display: inline-block;
                cursor: pointer;
                padding: 0;
                height: 75px;
                width: 75px;
                svg {
                    @extend absolute_left;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    border: solid 2px $off-white;
                    background-color: $dark;
                    @extend %box-shadow-2;
                    background-clip: content-box;
                    box-sizing: content-box;
                    
                    &:hover {
                        @extend %box-shadow-1-hover;
                    }
                    
                    &:last-of-type {
                        // background-color: $off-white;
                    }
                }
                h3 {
                    @extend absolute_left;
                    margin: 0;
                    margin-left: 2px;
                    display: block;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 14px;
                    text-align: center;
                    height: 19px;
                    width: 100%;
                    color: $off-white;
                    white-space: nowrap;
                }
            }
            // @include large-screen {
            //     height: 97px;
            //     width: 97px;
            //     margin: 13px;
                
            //     svg {
            //         border-width: 5px;
            //         &:hover {
            //             @extend %box-shadow-1-hover;
            //         }
            //     }
                
            //     h3 {
            //         margin-left: 3px;
            //         font-size: 15px;
            //         line-height: 17px;
            //     }
            // }
        }
    }
}
    
#toggle {
    display: none;
    &:checked + section {
        #content {
            margin-right: $sidebar-width;
        }
    }
}
