%btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 30px;
  line-height: 1.4;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
  color: blue;
}

%update-text {
    font-style: italic;
    color: $color-time;
    white-space: nowrap;
}

//short shadow
%box-shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.24);
}

//larger shadow
%box-shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
    color:white;
    margin-top: $header-height + 20px;
    text-align: center;
    
}

header {
    background-color: $color-header;
    color: $off-white;
    height: $header-height;
    line-height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @extend %box-shadow-1;
    
    button {
        float: right;
        @extend %btn;
    }
    
    #slash {
       @extend %update-text; 
    }
    
    #lastupdate {
        @extend %update-text;
        @include mobile {
            display: none;
        }
        @include tablet {
            display: inline-block;
        }
    }
    
    #updatetime {
        @extend %update-text;
        overflow: hidden;
    }
    
    #logo {
        color: $color-logo;
        font-size: 1.84rem;
        margin: 0 20px;
        line-height: $header-height;
        em {
            color: $color-dot;
        }
    }
}

article {
    width: 100%;
    margin-top: 25px;
    position: relative;
    
    @include mobile {
        min-height: $logo-size-small;
    }
    @include tablet {
        min-height: $logo-size-big;
    }
    
    @extend %box-shadow-1;
    svg {
        height: auto;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: white;
        @include mobile {
            width: $logo-size-small;
        }
        @include tablet {
            width: $logo-size-big;
        }
    }
    .title {
        color: $color-headlines;
        display: inline-block;
        vertical-align: middle;
        margin-left: $logo-size-big;
        font-weight: normal;
        
        @include mobile {
            font-size: 16px;
            font-size: 1.1rem;
            margin-top: 5px;
            margin-bottom: 1px;
            max-width: calc(100% - 100px);
            padding-left: 4px;
            min-width: 200px;
        }
        @include tablet {
            font-size: 19px;
            font-size: 1.5rem;
            white-space: nowrap;
            margin-top: 8px;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - 320px);
            padding-left: 20px;
            min-width: 0;
        }
    }
    
    time {
        color: $color-time;
        white-space: nowrap;
        display: inline-block;
        
        @include mobile {
            font-size: 14px;
            font-size: 0.9rem;
            vertical-align: bottom;
            margin: 5px 58px -16px;
        }
        @include tablet {
            font-size: 13px;
            font-size: 0.85rem;
            vertical-align: middle;
            margin: 8px 10px 2px;   
        }
    }
    
    .comments {
        text-decoration: none;
        color: $color-comments;
        vertical-align: middle;
        padding-bottom: 10px;
        text-align: right;
        
        @include clearfix;
        @include overfix;
        @include mobile  {
            font-size: 14px;
            font-size: 0.9rem;
            display: block;
            width: 100%;
            margin-left: -20px;
            margin-top: -5px;
        }
        @include tablet  {
            font-size: 15px;
            font-size: 1rem;
            width: 120px;
            margin-right: 20px;
            float: right;
            line-height: $logo-size-big;
            margin-top: 2px;
        }
    }
    
    > a {
        &:visited {
            color: $grey;
            text-decoration: line-through;
        }
        &:link {
            text-decoration: none;
        }
    }
    
    &:last-child {
        margin-bottom: 25px;
    }
}

