* {
    transition: margin 160ms linear;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $color-main;
    font-family: $font-main;
    background-color: $color-background;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

.noscript {
    @extend %box-shadow-1;
    @extend %absolute_left;
	background-color: $pink;
	color: $off-white;
	text-align: center;
	padding: 0;
	font-weight: bold;
	font-size: 1.2em;
    z-index: 11;
    width: 100vw;
    margin-top: $header-height;
    height: $header-height;
    line-height: $header-height;
}

h2 {
    @extend %absolute_left;
    color:white;
    text-align: center;
    z-index: 10;
    width: 100%;
    height: 100px;
    margin-top: 80px;
}

header {
    z-index: 100;
    background-color: $color-header;
    color: $off-white;
    height: $header-height;
    line-height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    @extend %box-shadow-1;
    
    #updatetime {
        font-style: italic;
        color: $color-time;
        @include mobile {
            display: none;
        }
        @include tablet {
            display: inline-block;
        }
    }
    
    #logo {
        color: $color-logo;
        font-size: 1.84rem;
        margin: 0 25px;
        line-height: $header-height;
        text-decoration: none;
        strong {
            color: $color-dot;
        }
    }
    
}

label {
    padding: 0;
    z-index: 201;
    position: fixed;
    text-align: right;
    right: 32px;
    top: 15px;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    width: 30px;
    height: 30px;
    background-size: contain;
}

article {
    z-index: 15;
    width: 96%;
    margin: 25px auto 0;
    position: relative;
    
    @include mobile {
        min-height: $logo-size-small;
    }
    @include tablet {
        min-height: $logo-size-big;
    }
    
    @extend %box-shadow-1;
    svg {
        height: auto;
        display: inline-block;
        @extend %absolute;
        @include mobile {
            width: $logo-size-small;
        }
        @include tablet {
            width: $logo-size-big;
        }
    }
    .title {
        color: $color-headlines;
        display: inline-block;
        vertical-align: middle;
        margin-left: $logo-size-big;
        font-weight: normal;
        
        @include mobile {
            font-size: 16px;
            font-size: 1.1rem;
            margin-top: 5px;
            margin-bottom: 1px;
            max-width: calc(100% - 100px);
            padding-left: 4px;
            min-width: 200px;
        }
        @include tablet {
            font-size: 19px;
            font-size: 1.5rem;
            white-space: nowrap;
            margin-top: 8px;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - 320px);
            padding-left: 20px;
            min-width: 0;
        }
    }
    
    time {
        color: $color-time;
        white-space: nowrap;
        display: inline-block;
        
        @include mobile {
            font-size: 14px;
            font-size: 0.9rem;
            vertical-align: bottom;
            margin: 5px 58px -16px;
        }
        @include tablet {
            font-size: 13px;
            font-size: 0.85rem;
            vertical-align: middle;
            margin: 8px 10px 2px;   
        }
    }
    
    .comments {
        text-decoration: none;
        color: $color-comments;
        vertical-align: middle;
        padding-bottom: 10px;
        text-align: right;
        
        @include clearfix;
        @include overfix;
        @include mobile  {
            font-size: 14px;
            font-size: 0.9rem;
            display: block;
            width: 100%;
            margin-left: -20px;
            margin-top: -5px;
        }
        @include tablet  {
            font-size: 15px;
            font-size: 1rem;
            width: 120px;
            margin-right: 20px;
            float: right;
            line-height: $logo-size-big;
            margin-top: 2px;
        }
    }
    
    > a {
        &:visited {
            color: $grey;
        }
        &:link {
            text-decoration: none;
        }
    }
    
    &:first-child {
        margin-top: $header-height + 25px;
    }
    
    &:last-child {
        margin-bottom: 25px;
    }
}

section {
    margin-top: $header-height + 25px;
    width: 100%;
    height: 100%;
}

#content {
    @extend %absolute_right;
    z-index: 9;
    height: inherit;
    overflow-y: scroll;
    width: 100%;
    background-color: $color-content;
    margin: 0;
}

nav {
    @extend %absolute_right;
    background-color: $color-nav;
    height: inherit;
    width: $sidebar-width;
    z-index: 8;
    color: $darker;
    overflow: hidden;
    
    ul {
        @include mobile {
            padding: 0;
            list-style-type: none;
            margin: ($header-height + 18px) 8px 0;
        }
        
        @include tablet {
            margin: ($header-height + 14px) 20px 0;
        }   
        
        
        li {
            @include mobile {
                position: relative;
                margin: 15px 7px 7px;
                display: inline-block;
                cursor: pointer;
                padding: 0;
                height: 75px;
                width: 75px;
                svg {
                    @extend absolute_left;
                    display: inline-block;
                    // width: 68px;
                    // height: auto;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    border: solid 2px $off-white;
                    background-color: $dark;
                    @extend %box-shadow-2;
                    background-clip: content-box;
                    box-sizing: content-box;
                }
                h3 {
                    @extend absolute_left;
                    margin: 0;
                    margin-left: 2px;
                    display: block;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 14px;
                    text-align: center;
                    height: 19px;
                    width: 100%;
                    color: white;
                    white-space: nowrap;
                }
            }
            @include tablet {
                height: 97px;
                width: 97px;
                margin: 13px;
                
                svg {
                    border-width: 5px;
                    // width: 100px;
                    // height: auto;
                    &:hover {
                        @extend %box-shadow-1-hover;
                    }
                }
                
                h3 {
                    margin-left: 3px;
                    font-size: 15px;
                    line-height: 17px;
                }
            }
        }
    }
}
    
#toggle {
    display: none;
    &:checked + section {
        #content {
            margin-right: $sidebar-width;
        }
    }
}
