@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Passion+One);

// monokai
$darker:          #121212;
$dark:            #272822;
$grey:            #818179;
$light-grey:      #ececec;
$off-white:       #F8F8F2;
$yellow:          #E6DB74;
$orange:          #FD971F;
$pink:            #F92672;
$purple:          #AE81FF;
$light-blue:      #66D9EF;
$green:           #A6E22E;

$color-background:  $grey;
$color-header:      $off-white;
$color-main:        $off-white;
$color-headlines:   $off-white;
$color-comments:    $off-white;
$color-logo:        $darker;
$color-dot:         $pink;
$color-time:        $grey;
$color-content:     $dark;
$color-nav:         $grey;

$screen-small:      0px;
$screen-large:      900px;

$logo-size-big:     54px;
$logo-size-small:   44px;

$header-height:     60px;
$sidebar-width:     300px;

$font-main: "Lato", "Tahoma", sans-serif;
$font-logo: "Passion One", "Impact", sans-serif;