@import url(https://fonts.googleapis.com/css?family=Inconsolata);

// monokai
$dark:            #272822;
$darker:          #171714;
$green:           #A6E22E;
$grey:            #75715E;
$light-blue:      #66D9EF;
$off-white:       #F8F8F2;
$orange:          #FD971F;
$pink:            #F92672;
$purple:          #AE81FF;
$yellow:          #E6DB74;

$color-background:  $dark;
$color-header:      $darker;
$color-main:        $off-white;
$color-headlines:   $off-white;
$color-comments:    $yellow;
$color-logo:        $light-blue;
$color-dot:         $pink;
$color-time:        $grey;

$screen-small:      0px;
$screen-medium:     760px;
$screen-large:      1200px;

$logo-size-big:     54px;
$logo-size-small:   44px;

$header-height:     50px;

$font-main: "Inconsolata", "Courier New", "Lucida Console", monospace, sans-serif;