%box-shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.24);
}

%absolute {
    position: absolute;
    top: 0;
}

%absolutel {
    @extend %absolute;
    left: 0;
}

%absoluter {
    @extend %absolute;
    right: 0;
}

.noscript {
    @extend %box-shadow-1;
    @extend %absolutel;
	background-color: $pink;
	color: $off-white;
	text-align: center;
	padding: 0;
	font-weight: bold;
	font-size: 1.2em;
    z-index: 11;
    width: 100vw;
    margin-top: $header-height;
    height: $header-height;
    line-height: $header-height;
}

h2 {
    @extend %absolutel;
    color:white;
    text-align: center;
    z-index: 10;
    width: 100%;
    height: 100px;
    margin-top: 80px;
}

header {
    z-index: 100;
    background-color: $color-header;
    color: $off-white;
    height: $header-height;
    line-height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    @extend %box-shadow-1;
    
    #updatetime {
        font-style: italic;
        // font-size: 1.1rem;
        color: $color-time;
        @include mobile {
            display: none;
        }
        @include tablet {
            display: inline-block;
        }
    }
    
    #logo {
        color: $color-logo;
        font-size: 1.84rem;
        margin: 0 25px;
        line-height: $header-height;
        text-decoration: none;
        strong {
            color: $color-dot;
        }
    }
    
}

label {
    padding: 0;
    z-index: 101;
    position: fixed;
    text-align: right;
    right: 25px;
    top: 18px;
    margin: 0;
    font-size: 3.1rem;
    cursor: pointer;
    font-weight: bold;
    color: $off-white;
    line-height: 20px;
    &:before {
        content: "≡";
    }
}

article {
    z-index: 15;
    width: 96%;
    margin: 25px auto 0;
    position: relative;
    
    @include mobile {
        min-height: $logo-size-small;
    }
    @include tablet {
        min-height: $logo-size-big;
    }
    
    @extend %box-shadow-1;
    svg {
        height: auto;
        display: inline-block;
        @extend absolutel;
        @include mobile {
            width: $logo-size-small;
        }
        @include tablet {
            width: $logo-size-big;
        }
    }
    .title {
        color: $color-headlines;
        display: inline-block;
        vertical-align: middle;
        margin-left: $logo-size-big;
        font-weight: normal;
        
        @include mobile {
            font-size: 16px;
            font-size: 1.1rem;
            margin-top: 5px;
            margin-bottom: 1px;
            max-width: calc(100% - 100px);
            padding-left: 4px;
            min-width: 200px;
        }
        @include tablet {
            font-size: 19px;
            font-size: 1.5rem;
            white-space: nowrap;
            margin-top: 8px;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - 320px);
            padding-left: 20px;
            min-width: 0;
        }
    }
    
    time {
        color: $color-time;
        white-space: nowrap;
        display: inline-block;
        
        @include mobile {
            font-size: 14px;
            font-size: 0.9rem;
            vertical-align: bottom;
            margin: 5px 58px -16px;
        }
        @include tablet {
            font-size: 13px;
            font-size: 0.85rem;
            vertical-align: middle;
            margin: 8px 10px 2px;   
        }
    }
    
    .comments {
        text-decoration: none;
        color: $color-comments;
        vertical-align: middle;
        padding-bottom: 10px;
        text-align: right;
        
        @include clearfix;
        @include overfix;
        @include mobile  {
            font-size: 14px;
            font-size: 0.9rem;
            display: block;
            width: 100%;
            margin-left: -20px;
            margin-top: -5px;
        }
        @include tablet  {
            font-size: 15px;
            font-size: 1rem;
            width: 120px;
            margin-right: 20px;
            float: right;
            line-height: $logo-size-big;
            margin-top: 2px;
        }
    }
    
    > a {
        &:visited {
            color: $grey;
            text-decoration: line-through;
        }
        &:link {
            text-decoration: none;
        }
    }
    
    &:first-child {
        margin-top: $header-height + 25px;
    }
    
    &:last-child {
        margin-bottom: 25px;
    }
}

section {
    margin-top: $header-height + 25px;
    width: 100%;
    height: 100%;
}

#content {
    @extend %absoluter;
    z-index: 9;
    height: inherit;
    overflow-y: scroll;
    width: 100%;
    background-color: $color-content;
    margin: 0;
}

nav {
    @extend %absoluter;
    background-color: $color-nav;
    height: inherit;
    width: $sidebar-width;
    z-index: 8;
    color: $darker;
    
    ul {
        padding: 0;
        margin: ($header-height + 15px) 30px 25px;
        list-style-type: none;
        li {
            display: table;
            margin-bottom: 0px;
            cursor: pointer;
            border: 2px solid $off-white;
            
            &:hover {
                @extend %box-shadow-1;
            }
            
            svg {
                border-right: 2px solid $grey;
                display: table-cell;
            }
            h3 {
                display: table-cell;
                font-size: 1.1rem;
                padding-left: 10px;
                padding-right: 10px;
                color: $dark;
                width: 100%;
                margin-right: 20px;
                font-weight: 400;
                overflow: hidden;
                line-height: 10px;
            }
        }
        
    }
    
}
    
#toggle {
    display: none;
    &:checked + section {
        #content {
            margin-right: $sidebar-width;
        }
    }
}
