<div class="hello" style="border: 1px solid red;">
    <h1>{{title}}</h1>
    <div class="body">
        Hello, {{name}}! I'm a template. 
    </div>
</div>
<!--<div class="container">
    <div class="row">
        <div class="col m12">
            <div class="card-panel white" style="margin-bottom:0; padding:0px;">
                <svg class="sym-s left" width="54" height="54" viewbox="0 0 200 200" style="margin-right:10px;margin-top:0px; margin-left:0px; margin-bottom:-6px">
                    <use xlink:href="#sym-s"></use>
                </svg>
                <h5 class="truncate" style="max-width:70%; display:inline-block;">{{href}} - {{title}}</h5>
                <time datetime="2016-11-30" class="right" style="display:inline-block; padding: 10px; margin-top:6px;max-width:200px">2 days ago</time>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col m12">
            <div class="card-panel white" style="margin-bottom:0; padding:0px;">
                <svg class="sym-s left" width="54" height="54" viewbox="0 0 200 200" style="margin-right:10px;margin-top:0px; margin-left:0px; margin-bottom:-6px">
                    <use xlink:href="#sym-s"></use>
                </svg>
                <h5 class="truncate" style="max-width:70%; display:inline-block;">Lorem ipsum dolor sit amet, consec lksjd lks lktetur adipisicing elit Lorem adipisicing elit lorem klsjd l ipsum dolor sit amet, consectetur </h5>
                <time datetime="2016-11-30" class="right" style="display:inline-block; padding: 10px; margin-top:6px;max-width:200px">2 days ago</time>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>-->